@mixin font-face ($name, $path, $weight: null, $style: null, $range: null) {
  $src: null;
  $formats: (
    woff2: 'woff2',
    woff: 'woff'
  );
  @each $format, $key in $formats {
    $src: append($src, url('../fonts/' + $path + '.' + $key) format(quote($format)), comma);
  }
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    src: $src;
    unicode-range: $range;
  }
}